
/* Use border-box in all elements */
* {
    box-sizing: border-box;
}

/* Set the font family to 'Plus Jakarta Sans' from google fonts and set it to a weight of 700 */
html {
    font-family: "Plus Jakarta Sans", Arial, sans-serif;
    font-weight: 700;
}

/* Mobile first */
/* Set the body style */
body {
    /*background: linear-gradient(rgb(19, 19, 19), rgb(0, 63, 55), rgb(19, 19, 19));*/
    background-color:rgb(147, 147, 147);
    color: rgb(31, 253, 31);
    line-height: 30px;
    border: green 5px solid;        /* adds a green 5px border around the body */
    margin: 32px;
    padding: 32px;
}

@media (min-width: 600px) {
    body {
        background-color:rgb(48, 48, 48);
    }
}

@media (min-width: 1000px) {
    body {
        background-color:rgb(19, 19, 19);
    }
}

/* Remove underline from anchors */
a {
    text-decoration: none;
    color: rgb(154, 255, 175);
}

/* This wil set the font weight for <p>, <li> and <td> elements in one css rule */
p, li, td {
    font-weight: 300;
}

/* Add an underline when hovering anchors */
a:hover {
    text-decoration: underline;
}

/****************************************************/
/*          Picture, Name & Contact info            *
 * Set display as flex, and set as space-between to *
 * space out the three items inside this div        *
 *                                                  *
 */
.about-me {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
    height: 450px;
}

/* Set profile picture perfectly rounded */
.about-me img {
    border-radius: 50%;
    border: rgb(31, 253, 31) 2px dotted;
    height: 350px;
}

/* Center h1 tag */
.container-h1, .contact {
    display: flex;
    flex-direction: column;
}

/* Center h1 in section */
.container-h1 {
    justify-content: center;
}

/* Center h1 tag */
h1 {
    font-size: 3rem;
    text-shadow: 5px 5px 10px rgb(31, 253, 31, 0.7);
}

/* Set contact information to bottom right */
.contact {
    justify-content: flex-end;
}

/* Set contact information to bottom right */
.contact p {
    font-size: 1rem;
    line-height: 0px;
}

/* Format each section under technologies in flexbox, row, and space-between */
#Technologies {
    display: flex;
    justify-content: space-between;
}

/* Center tools table*/
#Tools {
    display: flex;
    justify-content: center;
}

/* Projects */
.game-div {
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
}

/* Project images */
.game-div > div > img {
    height: 120px;
}

/* Projects */
.game-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    width: 100%;
}

/* Projects */
.game-header > div > h3 {
    position: absolute;
    top: 0;
    margin: 0;
}

/* Projects */
.game-header > div > p {
    position: absolute;
    bottom: 0;
    margin: 0;
}

/* Small message below projects */
.message {
    display: flex;
    justify-content: flex-end;
}

/* Set all h2 elements to uppercase */
h2 {
    text-transform: uppercase;
    font-size: 1.5rem;
}

/* Apply padding to headers to provide spacing and ensure content doesn't feel cramped */
h1, h2, h3 {
    padding-bottom: 2rem;
}

/* For all table head elements */
/* Sets font size to be 1.3 times html's font size */
th {
    font-size: 1.2rem;
}

/* This will implement the css box-model such as margin, padding & border into each section */
.sections {
    /* Add a border below each section */
    border-bottom: green 5px solid;
    padding-top: 32px;
    padding-bottom: 64px;
}

/****************** Adjusted form below to capture the same look and feel of example ******************/

/* Adds padding on the left side of the checkbox questions */
.checkbox-questions {
    line-height: 32px;
    padding-left: 8px;
}

/* Add css stylng to buttons */
button {
    /* makes the button transparent */
    background-color: rgba(255,255,255, 0);
    transition-duration: 0.4s;

    /* removes default borders */
    border: rgb(31, 253, 31) 2px solid;

    color: rgb(31, 253, 31);
    padding: 10px;
}

/* Remove outlines on all decendants of form element */
form * {
    outline: none;
}

.container-forms {
    display: flex;
    justify-content: center;
    line-height: 10px;
}

.form-items {
    display: flex;
    justify-content: space-between;
    width: 500px;
    /* This is only here so I can see the border colors for labels and inputs */
    padding: 10px;
}

/* Align to right side */
.inputs {
    right: 0%;
}

/* Add css stylng to buttons on hover */
button:hover {
    /* makes the button green*/
    background-color: rgb(31, 253, 31);
    color: black;
    /* makes the button green*/
    transform: translateY(4px);
}

/* Add css stylng to buttons on active (being clicked) */
button:active {
    background-color: rgb(8, 99, 8);
}

/* Set a dotted border around our textarea, inputs that have type text and our select element */
.form-text {
    padding: 8px;
    background-color: rgba(19, 19, 19);
    border: rgb(31, 253, 31), 1px dotted;
    color: rgb(31, 253, 31);
    margin-left: 6px;
    width: 300px;
}

/* Add flexbox to our three butons so that we can align to the end */
.btns {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    padding-top: 16px;
}

/* Set textarea & input placeholder text color to half transparent */
textarea::placeholder, input::placeholder {
    color: rgb(31, 253, 31, 0.4);
}

/* Add padding-bottom to socials section */
.socials {
    padding-bottom: 96px;
}

/****************** Adjusted form below to capture the same look and feel of example ******************/